  #offer{
            width: 100%;
            height: 40px;
            
            
        }
        #offers{
            display: inline-block;
            animation: scroll 10s linear infinite;
         }
        #navigation{
            width: 100%;
            height: 80px;
            
            display: flex; 
        }
        #home{
            width: 45%;
            height: 80px;
            
            
        }
        #hcss{
            margin-left: 50px;
            margin-top: 30px;
            border: none;
            font-size: 14px;
            background: transparent;
            text-decoration: underline;
            
        }
        #ocoll{
            background: transparent;
            border: none;
            margin-left: 20px;
            font-size: 14px;

        }
        #contact{
            font-size: 14px;
            border: none;
            background: transparent;
            margin-left: 20px;
        }
    
        #bname{
           width: 30%;
           height: 80px;
           
        }
        #name{
            font-size: xxx-large;
            position: relative;
            top: -55px;
            margin-left: 80px;
            
        }
        #name2{
            position: relative;
            top: -110px;
            left: 78px;
        }
        #home2{
           width: 30%;
           height: 80px;
           
        }
        #search{
            border: none;
            background: transparent;
            margin-left: 250px;
            margin-top: 30px;
        }
        #log{
            border: none;
            background: transparent;
            padding: 20px;
            
        }
        #cart{
            border: none;
            background: transparent;
        }
        #firstpage{
            width: 100%;
            height: 900px;
            background-image: url("72f3e1b6-e2be-4472-a202-e3917a57d8d7.png");
            background-repeat: no-repeat;
            background-size: cover;
            
        }
        #firstpagewords{
            width: 30%;
            height: 300px;
            color: aliceblue;
            position: absolute;
            top: 450px;
            left: 120px;
            font-family: 'Times New Roman', Times, serif;
        }
        #p2{
            font-size: x-large;
            margin-top: 15px;
          
        }
        #shopbut{
            padding: 15px;
            border-radius: 10px;
            width: 140px;
            background: transparent;
            color: aliceblue;
            background: rgba(240, 248, 255, 0.104);
            border-color: aliceblue;
        }
        #shopcat{
            width: 100%;
            height: 70px;
        }
        .marquee{
            display: inline-block;
            animation: scroll 10s linear infinite;
        }
        #coll{
            font-size: 20px;
            font-family:  Georgia, 'Times New Roman', Times, serif;
            padding-left: 43%;
        }
        #secpage{
            width: 100%;
            height: 250px;
        
            display: flex;
            
        }
        #coll1{
            width: 15%;
            height: 220px;
            background-color: brown;
            border-radius: 500%;
            margin-left: 30px;
            margin-top: 20px;
            background-image: url("download\ \(2\).jpg");
            background-size: cover;
        }
         #coll2{
            width: 15%;
            height: 220px;
            background-color: rgb(187, 114, 114);
            border-radius: 100%;
            margin-left: 20px;
            margin-top: 20px;
            background-image: url("best.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
         #coll3{
            width: 15%;
            height: 220px;
            background-color: rgb(187, 114, 114);
            border-radius: 100%;
            margin-left: 20px;
            margin-top: 20px;
            background-image: url("download\ \(4\).jpg");
            background-size: cover;
        }    
         #coll4{
            width: 15%;
            height: 220px;
            background-color: rgb(187, 114, 114);
            border-radius: 100%;
            margin-left: 20px;
            margin-top: 20px;
            background-image: url("ethnic.jpg");
            background-size: cover;
        }
        #coll5{
           width: 15%;
            height: 220px;
            background-color: rgb(187, 114, 114);
            border-radius: 100%;
            margin-left: 20px;
            margin-top: 20px;
            background-image: url("Depop\ Women\'s\ Footwear.jpg");
            background-size: cover;
        }
        #coll6{
           width: 15%;
            height: 220px;
            background-color: rgb(187, 114, 114);
            border-radius: 100%;
            margin-left: 20px;
            margin-right: 30px;
            margin-top: 20px;
            background-image: url("Untitled\ design\ \(1\).png");
            background-size: 329px;
            
        }
       
        #new{
            border: none;
            background: transparent;
            padding-top: 105px;
            padding-left: 45px ;
            font-size: large;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: aliceblue;
        }
        #best{
            border: none;
            background: transparent;
            padding-top: 105px;
            padding-left: 50px ;
            font-size: large;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: aliceblue;
        }
        #west{
            border: none;
            background: transparent;
            padding-top: 105px;
            padding-left: 70px ;
            font-size: large;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: aliceblue;
        }
         #gift{
            border: none;
            background: transparent;
            padding-top: 105px;
            padding-left: 60px ;
            font-size:large;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: aliceblue;
         }
         #ethnic{
            border: none;
            background: transparent;
            padding-top: 105px;
            padding-left: 70px ;
            font-size:large;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: aliceblue;
         }
         #foot{
            border: none;
            background: transparent;
            padding-top: 105px;
            padding-left: 60px ;
            font-size:large;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: aliceblue;
         }
         #acc{
            border: none;
            background: transparent;
            padding-top: 105px;
            padding-left: 50px ;
            font-size:large;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: aliceblue;
         }
          #collection{
            width: 100%;
            height: 35px;
            
            padding: 20px;
            
        }
        #new1{
            position: relative;
            top: -10px;
            left: 55px;
            border: none;
            background: transparent;
            font-size: 14px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
         #best1{
            position: relative;
            top: -10px;
            left: 160px;
            border: none;
            background: transparent;
            font-size: 14px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        #west1{
            position: relative;
            top: -10px;
            left: 280px;
            border: none;
            background: transparent;
            font-size: 14px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        #ethnic1{
            position: relative;
            top: -10px;
            left: 430px;
            border: none;
            background: transparent;
            font-size: 14px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        #foot1{
            position: relative;
            top: -10px;
            left: 565px;
            border: none;
            background: transparent;
            font-size: 14px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
         
        #acc1{
            position: relative;
            top: -10px;
            left: 685px;
            border: none;
            background: transparent;
            font-size: 14px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        #aftercoll{
            width: 100%;
            height: 150px;
            
        }
        #elevate{
            padding-left: 44.5%;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        #see{
            font-size: xx-large;
            font-family: Georgia, 'Times New Roman', Times, serif;
            padding-left: 36%;
            position: relative;
            top: -15px;
        }
        #quote{
            font-family: Georgia, 'Times New Roman', Times, serif;
            padding-left: 31.5%;
            position: relative;
            top: -27px;

        }
        #quote1{
            font-family: Georgia, 'Times New Roman', Times, serif;
            padding-left: 44.5%;
            position: relative;
            top: -27px;
            
        }
        #empty{
            width: 100%;
            height: 30px;
            
        }
        #dressparent{
            display: flex;
            justify-content: space-between;
            justify-content: space-around;
        }
        #dress1{
            width: 15%;
            height: 300px;
            background-color: rgba(105, 103, 103, 0.185);
            margin-left: 20px;
            background-image: url("adcc6467-4f8a-47b1-bee1-5285e3b6cf95.jpg");
            background-size: cover;
            
        }
       #dress2{
            width: 15%;
            height: 300px;
            background-color: brown;
            background-image: url("sjsn.jpg");
            background-size: cover;
        }
       #dress3{
            width: 15%;
            height: 300px;
            background-color: brown;
             background-image: url("fac05c8f-7085-49dd-894f-0f0d1980ccc7.jpg");
            background-size: cover;
        }
       #dress4{
            width: 15%;
            height: 300px;
            background-color: brown;
             background-image: url("download\ \(2\)s.jpg");
            background-size: cover;
        }
        #dress5{
            width: 15%;
            height: 300px;
            background-color: brown;
            margin-right: 20px;
             background-image: url("The\ Power\ of\ Stillness\ _\ AI\ Fashion\ Story.jpg");
            background-size: cover;
        }
        #details{
            width: 100%;
            height: 60px;
            
            padding-left: 95PX;
        }
        #dressprice{
            position: relative;
            top: -10px;
        }
       
        #qd1{
            padding: 10px;
            border-radius: 10px;
            width: 15%;
            background: transparent;
            margin-left: 55px;
        }
        #qd2{
            padding: 10px;
            border-radius: 10px;
            width: 15%;
            background: transparent;
            margin-left: 60px;
        }
        #qd3{
            padding: 10px;
            border-radius: 10px;
            width: 15%;
            background: transparent;
            margin-left: 62px;
        }
        #qd4{
            padding: 10px;
            border-radius: 10px;
            width: 15%;
            background: transparent;
            margin-left: 65px;
        }
        #qd5{
            padding: 10px;
            border-radius: 10px;
            width: 15%;
            background: transparent;
            margin-left: 60px;
        }
        #lastpage{
            display: flex;
            justify-content: space-between;
            justify-content: space-around;
        }
        #lp1{
            width: 20%;
            height: 350px;
            margin-left: 80px;
            justify-content: space-evenly;
        }
        #lp2{
            width: 20%;
            height: 350px;
           
        }
        #lp3{
            width: 20%;
            height: 350px;
           
        }
        #lp4{
            width: 20%;
            height: 350px;
           
        }
